REACT_APP_GOOGLE_CLIENT_ID=
REACT_APP_ENABLE_MOCK_LOGIN=false
REACT_APP_MOCK_ADMIN_NAME=Mock Admin
REACT_APP_MOCK_ADMIN_EMAIL=admin@example.com
REACT_APP_MOCK_ADMIN_PICTURE=https://i.pravatar.cc/150?u=mockadmin
