PORT=7777
REACT_APP_ENABLE_MOCK_LOGIN=false
REACT_APP_MOCK_ADMIN_NAME=Mock Admin
REACT_APP_MOCK_ADMIN_EMAIL=admin@example.com
REACT_APP_MOCK_ADMIN_PICTURE=https://i.pravatar.cc/150?u=mockadmin
ADMIN_EMAIL=
CORS_ORIGIN=
DISABLE_ESLINT_PLUGIN=
GENERATE_SOURCEMAP=
MONGO_URI=
REACT_APP_GOOGLE_CLIENT_ID=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=